* {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
}

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 40px 240px;
}

.nav-title {
    color: var(--Dark-01, #131313);
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    line-height: normal;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 35px;
    color: var(--Dark-02, #424242);
    font-size: 18px;
    font-weight: 500;


}

.banner-contant {
    max-width: 800px;
    text-align: center;
    margin: 0% auto;
}

.banner-title {
    color: var(--Dark-01, #131313);
    font-size: 64px;
    font-weight: 700;
    line-height: normal;
}

.banner-descrisption {
    color: var(--Dark-03, #727272);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.btn-primary {
    width: 170px;
    height: 55px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;

}

img {
    width: 1440px;
    height: 700px;
    flex-shrink: 0;
    border-radius: 8px;
    background: lightgray 0px -94.291px / 100% 137.109% no-repeat;
}